body {
  font-family: 'Inter', sans-serif; /* Fuente genérica */
  background-color: #fbf0c9; /* Color de fondo claro */
  color: #6a655e; 
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #bc654a; /* Rojo oscuro */
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  font-family: 'Times New Roman';
}

/* Contenedor dentro del encabezado para centrar y espaciar */
header > div {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

h1 {
  font-size: 3rem; /* Tamaño de fuente para h1 */
  font-weight: bold;
  margin: 0; /* Eliminar margen por defecto del h1 */
  color: #fdd6a9;
  text-shadow: 0 4px 4px rgba(0,0,0,0.5);
}

/* Menú de navegación */
nav {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-weight: bold;
/*  background-color: #6b2223; */ 
  z-index: 999;
  overflow: hidden; /* Para que los bordes redondeados se apliquen bien */
  padding: 1rem;
}

nav ul {
  font-family: "Inter", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav li {
  margin-bottom: 0.5rem;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
  border-radius: 0.75rem;
}

nav a {
  display: block;
  padding: 0.75rem 1rem;
  color: #bc654a;
  background-color: #FBF0C9;
  border-radius: 0.75rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
  box-sizing: border-box; /* Incluye relleno y borde en el ancho */
}

nav a:hover, nav a:focus {
  background-color: #e0d7b5;
}

main {
  padding: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
    /* Margen superior e inferior para separar del encabezado y del pie de
     * página */
}

section {
  background-color: #fff1e1;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

article {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

article:last-child {
  border-bottom: none;
}

h2 {
  font-size: 1.5rem; /* Tamaño de fuente para h2 */
  font-weight: 600;
  color: #4e4b46;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem; /* Tamaño de fuente para h3 */
  font-weight: 500;
  color: #4e4b46;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  color: #6a655e; 
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
  margin: 1rem auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

a {
  color: #9ea1e2; /* Color para enlaces */
}

a:hover {
  background: #e8e8f9;
}


footer {
  background-color: #bc654a;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  width: 100%;
}

footer p {
  margin: 0;
  color: #fdd6a9;
}

figcaption {
  text-align: center;
  font-style: italic;
}
